<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>List of streams</title>  
</head>
<body>
   <div style="width:50%">
    <h2>Language</h2>
    <div style="padding: 10;">
      <select id="language" onchange="onChangeLanguage()">
        <option value="en-US" selected="selected">English</option>
        <option value="FR" >French</option>
        <option value="IT">Italian</option>
        <option value="JA">Japanese</option>
        <option value="ES">Spanish</option>
        <option value="NL">Dutch</option>
        <option value="PL">Polish</option>
        <option value="PT">Portuguese</option>
        <option value="RU">Russian</option>
        <option value="ZH">Chinese</option>
      </select>
    </div>
   
  </div>
  
<div style="display:flex;justify-content: space-between;">

  
  <div style="width:50%">
    <h2>List of streams</h2>
    <% if (files.length > 0) { -%>
      <ol>
      <% for (var i=0, l=files.length; i<l; i++) { -%>
        <li style="display:flex">
          <input style="width:100%" type="text" id="text_<%= i%>"  onclick="this.select();" value="<%= files[i] %>" />
          <button class="btn" id="transcribe_<%= i%>">transcribe</button>
        </li>
      <% } -%>
      </ol>
    <% } -%>
  </div>
  <div style="width:50%">
    <h2>Transcription</h2>
    <div id="ret" style="flex:1"></div> 
  </div>
  
</div>
<script>
  const serverAddress = '<%= serverAddress %>';
  let socket;
  let inp = ""
  // function transcribe() {

  //   inp = input
  //   // const match = input.match(/:\/\/([^/:]+)/);
  //   // if(!match) return;
    
  // }

  // fix change language 
  function onChangeLanguage(){
    console.log("inp: ", inp)
    const language = document.getElementById("language").value;
    if (inp!==""){
      const url = `ws://${serverAddress}/transcript/${encodeURIComponent(
        inp
    )}?languageCode=${language}`;
    socket = new WebSocket(url);
    socket.addEventListener('message', function (event) {
      console.log('Message from server ', event.data);
      document.querySelector('#ret').innerHTML += event.data + '<br/><br/>';
    });
    }
  }
  $(function () {
  $(document).on("click", ".btn", function(e){
    console.log(e)
    let id = e.target.id;
    console.log(id)
    let index = id.split("_")[1]
    let input = $(`#text_${index}`).val();
    inp = input
    const languageCode = document.getElementById("language").value;
    const url = `ws://${serverAddress}/transcript/${encodeURIComponent(
      input
    )}?languageCode=${languageCode}`;
    // close old socket
    if(socket && socket.readyState < 2) {
      socket.close();
    }
    
    socket = new WebSocket(url);
    document.querySelector('#ret').innerHTML = 'Transcribing ' + input + '<br/><br/>';
    socket.addEventListener('message', function (event) {
      console.log('Message from server ', event.data);
      document.querySelector('#ret').innerHTML += event.data + '<br/><br/>';
    });
  })})
</script>
</body>
</html>
