<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of streams</title>
</head>
<body>
<div id="page" style="margin:20px;width:600px">
  <h2>List of streams</h2>
  <% if (files.length > 0) { -%>
    <ol>
    <% for (var i=0, l=files.length; i<l; i++) { -%>
      <li>
        <input style="width:100%" type="text"  onclick="this.select();" value="<%= files[i] %>" />
      </li>
    <% } -%>
    </ol>
  <% } -%>
</div>
</body>
</html>
