<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>List of streams</title>  
</head>
<body>
  <div style="display: flex;align-items: center;justify-content: space-between;margin:20px">
   <div style="width:25%">
    <h2>Source Language</h2>
    <div style="padding: 10;">
      <select id="source_lang">
        <option selected="selected" value="en" >English</option>
        <option value="fr" >French</option>
        <option value="it">Italian</option>
        <option value="ja">Japanese</option>
        <option value="es">Spanish</option>
        <option value="nl">Dutch</option>
        <option value="pl">Polish</option>
        <option value="pt">Portuguese</option>
        <option value="ru">Russian</option>
        <option value="zh">Chinese</option>
      </select>
    </div>   
  </div>

  <div style="width:25%">
    <h2>Target Language</h2>
    <div style="padding: 10;">
      <select id="target_lang">
        <option value="en-US" >English</option>
        <option value="FR" >French</option>
        <option value="IT">Italian</option>
        <option selected="selected" value="JA">Japanese</option>
        <option value="ES">Spanish</option>
        <option value="NL">Dutch</option>
        <option value="PL">Polish</option>
        <option value="PT">Portuguese</option>
        <option value="RU">Russian</option>
        <option value="ZH">Chinese</option>
      </select>
    </div>   
  </div>

  <div style="width:45%">
    <h2>API Key</h2>
    <div style="padding: 10;">
      <input id="apiKey" style="width:100%;" />
    </div>
  </div>
</div>
  
<div style="display:flex;justify-content: space-between;margin:20px">

  
  <div style="width:45%">
    <h2>List of streams</h2>
    <% if (files.length > 0) { -%>
      <ol>
      <% for (var i=0, l=files.length; i<l; i++) { -%>
        <li style="display:flex">
          <input style="width:100%" type="text"  onclick="this.select();" value="<%= files[i] %>" />
          <button onclick="transcribe('<%= files[i] %>')">transcribe</button>
        </li>
      <% } -%>
      </ol>
    <% } -%>
  </div>
  <div style="width:45%">
    <h2>Transcription</h2>
    <div id="ret" style="flex:1"></div> 
  </div>
  
</div>
<script>
  const serverAddress = '<%= serverAddress %>';
  let socket;
  const getSelectedLange = id => {
    const e = document.getElementById(id);
    return e.options[e.selectedIndex].value;
  }
  function transcribe(input) {
    // const match = input.match(/:\/\/([^/:]+)/);
    // if(!match) return;    
    const source_lang = getSelectedLange('source_lang');
    const target_lang = getSelectedLange('target_lang');
    const apiKey = document.getElementById('apiKey').value.trim();
    const url = `ws://${serverAddress}?stream_url=${encodeURIComponent(
      input
    )}&source_lang=${source_lang}&target_lang=${target_lang}&apiKey=${apiKey}`;

    // close old socket
    if(socket && socket.readyState < 2) {
      socket.close();
    }
    
    socket = new WebSocket(url);
    document.querySelector('#ret').innerHTML = 'Transcribing ' + input + '<br/><br/>';
    socket.addEventListener('message', function (event) {
      console.log('Message from server ', event.data);
      document.querySelector('#ret').innerHTML += event.data + '<br/><br/>';
    });
  }
</script>
</body>
</html>
